/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 20px;
	background: #000000;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #787878;
}

h1, h2, h3 {
	margin: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: normal;
	color: #000000;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.6em;
}

h3 {
	font-size: 1.6em;
}

p, ul, ol {
	margin-top: 0;
	line-height: 180%;
}

ul, ol {
}

a {
	text-decoration: none;
	border-bottom: 1px dotted #999999;
	color: #A42424;
}

a:hover {
	background: none;
}

#wrapper {
	width: 910px;
	margin: 0 auto;
	padding: 20px;
	background: #FFFFFF;
}

/* Header */

#header {
	width: 910px;
	height: 172px;
	margin: 0 auto;
	background: url(images/img01.jpg) no-repeat left top;
}

/* Logo */


#logo {
	float: left;
	width: 640px;
	color: #B2B2B2;
}

#logo h1, #logo p {
}

#logo h1 {
	float: left;
	padding: 100px 0 0 20px;
	letter-spacing: -1px;
	text-transform: uppercase;
	font-size: 2.6em;
}

#logo p {
	float: left;
	margin: 0;
	padding: 110px 0 0 5px;
	text-transform: uppercase;
	font: bold 14px Arial, Helvetica, sans-serif;	
} 

#logo a {
	border: none;
	background: none;
	text-decoration: none;
	color: #FFFFFF;
}

/* Search */

#searchbox {
	float: right;
	width: 230px;
	padding-top: 16px;
}

#searchbox form {
	height: 41px;
	margin: 0;
	padding: 90px 0 0 0px;
}

#searchbox fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#searchbox input {
	width: 200px;
	border: none;
	text-transform: lowercase;
	border: 1px #525252 dotted;
	font: bold 1.2em Arial, Helvetica, sans-serif;
	color: #787878;
}

#searchbox .form-submit {
	display: none;
}

#searchbox .form-item label {
	display: none;
}

/* Mission */

#mission {
	padding: 1em 2em 1em 2em;
	
}

/* Menu */

#menu {
	width: 910px;
	height: 41px;
	margin: 0 auto;
	padding: 0;
	background: url(images/img02.jpg) no-repeat left top;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	padding: 13px 10px 10px 20px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #FFFFFF;
	border: none;
}

#menu a:hover, #menu .current_page_item a {
	color: #FFFFFF;
}

#menu a:hover {
	text-decoration: underline;
}

/* Page */

#page {
	width: 910px;
	margin: 0 auto;
	background: url(images/img03.jpg) no-repeat left top;
}

/* Content */

#content {
	float: left;
	width: 600px;
	padding: 0 0 0 20px;
}

.post {
	margin: 1em 0 1em 0;
}

.post .title {
	color: #000000;
}

.post .title a {
	background: none;
	color: #000000;
	border: none;
}

.post .title a:hover {
	text-decoration: underline;
}

.post .submitted {
	border-bottom: 1px dashed #D2D4C9;
	text-transform: uppercase;
	text-align: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.post .entry {
	padding: 0 0 20px 0;
	text-align: justify;
}


/* Sidebar */

#sidebar {
	float: right;
	width: 220px;
	padding: 0 20px 0 0;
	color: #787878;
}

.block  {
	margin: 2em 0 0 0;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#sidebar li {
}

#sidebar li ul {
	padding-bottom: 30px;
}

#sidebar li li {
	line-height: 35px;
	border-bottom: 1px dashed #D2D4C9;
}

#sidebar h2 {
	letter-spacing: -.5px;
	color: #000000;
}

#sidebar p {
	padding-bottom: 20px;
	text-align: justify;
}

#sidebar a {
	color: #787878;
	border: none;
}

#sidebar a:hover {
	text-decoration: underline;
	color: #787878;
}

/* Comment */

.comment {
	margin: 2em 0 0 0;
}


/* Calendar */

#calendar {
}

#calendar_wrap {
	padding: 20px;
}

#calendar table {
	width: 100%;
}

#calendar tbody td {
	text-align: center;
}

#calendar #next {
	text-align: right;
}

table {
  margin: 1em 0;
  width: 100%;
}

thead th {
  border-bottom: 2px solid #5B5B5B;
  color: #787878;
  font-weight: bold;
}

thead div.sticky-header {
  border-bottom: 2px solid #5B5B5B;
}

th a:link, th a:visited {
  color: #A42424;
}

td, th {
  padding: .3em .5em;
}

tr.even, tr.odd, tbody th {
  border: solid #5B5B5B;
  border-width: 1px 0;
}

tr.odd, tr.info {
  background-color: #EAEAEA;
}

tr.even {
  background-color: #FFFFFF;
}

tr.odd td.active {
  background-color: #EAEAEA;
}

tr.even td.active {
  background-color: #FFFFFF;
}

tr.drag {
  background-color: #fffff0;
}

tr.drag-previous {
  background-color: #ffd;
}

/* Footer */

#footer {
	width: 910px;
	height: 50px;
	margin: 0 auto;
	padding: 40px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #B2B2B2;
}

#footer p {
	margin: 0;
	line-height: normal;
	font-size: 9px;
	text-transform: uppercase;
	text-align: center;
}

#footer a {
	color: #FFFFFF;
}

#footer .message {
	float: left;
}

#footer .coded {
	float: right;
}